.page { max-width: 960px;overflow: scroll;height: 100%;margin: 0 auto;padding: 10px 0;background-color: #fff;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD; }
.container { margin-top: 50px;margin-bottom: 30px; }
.image { text-align: center; }
.form-group { margin-bottom: 2rem;padding: 20px;border-radius: 3px;background-color: #fcfcfc;text-align: center; }
.form-group h5 { margin-bottom: 1rem; }
.form-group p { margin-bottom: 0; }
.rounded-circle { border-radius: 50%; }

.title { width: 100px; }

//ログアウトボタン
.btn_container { margin-bottom: 20px;display: flex;justify-content: space-around; }
.btn {  display: inline-block;padding: 8px 5px;background: #003C8F;/*ボタン色*/color: #FFF;text-align:center;width: 100px;border-radius: 10px; }
